/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 32px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.selection-container {
    display: flex;
    justify-content: space-between;
}

.selection-item {
    flex: 1;
    margin-right: 20px;
}

.selection-item:last-child {
    margin-right: 0;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.action-container {
    text-align: center;
}

#playButton {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#playButton:hover {
    background-color: #45a049;
}

#message {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.emotion-detection-container {
    text-align: center;
}

.video-container {
    display: inline-block;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    overflow: hidden;
}

.vide