<!DOCTYPE html>
<html>
<head>
    <title>Emotion-based Music Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <header>
        <h1>Emotion-based Music Selection</h1>
    </header>
    <main>

        <div id="current-song">
            <h3>Currently Playing:</h3>
            <p id="song-info">No song is playing.</p>
            <img id="album-image" src="" alt="Album Image" style="width: 300px; display: none;">
        </div>

        <section class="selection-container">
            <div class="selection-item">
                <h2>Select an activity:</h2>
                <select id="activity">
                    <option value="work">Work</option>
                    <option value="study">Study</option>
                    <option value="exercise">Exercise</option>
                    <option value="relax">Relax</option>
                </select>
            </div>
            <div class="selection-item">
                <h2>Select a genre:</h2>
                <select id="genre">
                    <option value="pop">Pop</option>
                    <option value="rock">Rock</option>
                    <option value="hiphop">Hip Hop</option>
                    <option value="classical">Classical</option>
                </select>
            </div>
            <div class="selection-item">
                <h2>Select a mood:</h2>
                <select id="mood">
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="energetic">Energetic</option>
                    <option value="calm">Calm</option>
                </select>
            </div>
        </section>
        <section class="action-container">
            <button id="playButton">Play Music</button>
            <div id="message"></div>
        </section>
        <section class="emotion-detection-container">
            <h2>Emotion Detection</h2>
            <div class="video-container">
                <img src="{{ url_for('video_feed') }}" alt="Emotion Detection">
            </div>
        </section>
    </main>
    
    <button onclick="pauseMusic()">Pause</button>
    <button onclick="resumeMusic()">Resume</button>
    <button onclick="nextTrack()">Next</button>
</body>
</html>